# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# vscode files
.vscode

# my files
*.pdf
!documentation/*.pdf
!G-OOP-400_nanotekspice.pdf
todo.md
nanotekspice
*.txt
!subject_sample/*.txt
*.gcda
*.gcno
unit_tests
log.bin
turing_machine
gui_nts
